@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --text-color: 255, 255, 255;
  --secondary-text-color: 148 163 184;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 15 23 42;
  }
}

body {
  color: rgb(var(--text-color));
  background-color: rgb(var(--background-rgb));
}

@layer base {
  .primary-text-color {
    color: rgb(var(--text-color));
  }
  .secondary-text-color {
    color: rgb(var(--secondary-text-color));
  }
}
